[Unit]
Description=Crawler service overseer, manages running main crawler software
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python /srv/crawler/crawler.py

[Install]
WantedBy=multi-user.target
