[submodule "Hardware/LC-Mainboard/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/LC-Mainboard/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
[submodule "Hardware/LC-Mainboard/Libraries/kicad-libs"]
	path = Hardware/LC-Mainboard/Libraries/Nokia_5110
	url = https://github.com/sgreg/kicad-libs.git
[submodule "Hardware/LC-ProtoCard/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/LC-ProtoCard/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
